  <!-- begin::Header -->

  <!-- end::Header -->

  <div
    class="m-grid__item m-grid__item--fluid  m-grid m-grid--ver-desktop m-grid--desktop 	m-container m-container--responsive m-container--xxl m-page__container m-body">
    <div class="m-grid__item m-grid__item--fluid m-wrapper">
      <!-- BEGIN: Subheader -->
      <div class="m-subheader ">
        <div class="d-flex align-items-center">
          <div class="mr-auto">
            <h3 class="m-subheader__title ">
              Dashboard
            </h3>
          </div>
          <div>
            <span class="m-subheader__daterange" id="m_dashboard_daterangepicker">
              <span class="m-subheader__daterange-label">
                <span class="m-subheader__daterange-title"></span>
                <span class="m-subheader__daterange-date m--font-brand"></span>
              </span>
              <a href="#" class="btn btn-sm btn-brand m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill">
                <i class="la la-angle-down"></i>
              </a>
            </span>
          </div>
        </div>
      </div>
      <!-- END: Subheader -->

      <!-- END: Subheader -->
      <div class="m-content">
        <div class="row">
          <div class="col-lg-4">
            <div class="m-portlet">
              <div class="m-portlet__body">
                <div class="m-card-profile">
                  <div class="m-card-profile__title m--hide">
                    Your Profile
                  </div>
                  <div class="m-card-profile__pic">
                    <div class="m-card-profile__pic-wrapper">
                      <img src="{{currentUser.avatar}}" alt="" />
                    </div>
                  </div>
                  <div class="m-card-profile__details">
                    <span class="m-card-profile__name">
                      {{currentUser.fullname}}
                    </span>
                    <a href="" class="m-card-profile__email m-link">
                      mark.andre@gmail.com
                    </a>
                  </div>
                </div>
                <ul class="m-nav m-nav--hover-bg m-portlet-fit--sides">
                  <li class="m-nav__separator m-nav__separator--fit"></li>
                  <li class="m-nav__section m--hide">
                    <span class="m-nav__section-text">
                      Section
                    </span>
                  </li>
                  <li class="m-nav__item">
                    <a href="header/profile&amp;demo=default.html" class="m-nav__link">
                      <i class="m-nav__link-icon flaticon-profile-1"></i>
                      <span class="m-nav__link-title">
                        <span class="m-nav__link-wrap">
                          <span class="m-nav__link-text">
                            My Profile
                          </span>
                          <span class="m-nav__link-badge">
                            <span class="m-badge m-badge--success">
                              2
                            </span>
                          </span>
                        </span>
                      </span>
                    </a>
                  </li>
                  <li class="m-nav__item">
                    <a href="header/profile&amp;demo=default.html" class="m-nav__link">
                      <i class="m-nav__link-icon flaticon-share"></i>
                      <span class="m-nav__link-text">
                        Activity
                      </span>
                    </a>
                  </li>
                  <li class="m-nav__item">
                    <a href="header/profile&amp;demo=default.html" class="m-nav__link">
                      <i class="m-nav__link-icon flaticon-chat-1"></i>
                      <span class="m-nav__link-text">
                        Messages
                      </span>
                    </a>
                  </li>
                  <li class="m-nav__item">
                    <a href="header/profile&amp;demo=default.html" class="m-nav__link">
                      <i class="m-nav__link-icon flaticon-graphic-2"></i>
                      <span class="m-nav__link-text">
                        Sales
                      </span>
                    </a>
                  </li>
                </ul>
                <!-- <div class="m-portlet__body-separator"></div> -->
              </div>
            </div>
          </div>
          <div class="col-lg-8">
            <div class="m-portlet m-portlet--full-height m-portlet--tabs  ">
              <div class="m-portlet__head">
                <div class="m-portlet__head-tools">
                  <ul class="nav nav-tabs m-tabs m-tabs-line   m-tabs-line--left m-tabs-line--primary" role="tablist">
                    <li class="nav-item m-tabs__item">
                      <a class="nav-link m-tabs__link active">
                        <i class="flaticon-share m--hide"></i>
                        My Profile
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="tab-content">
                <div class="tab-pane active">
                  <form class="m-form m-form--fit m-form--label-align-right" [formGroup]="profileForm" #f="ngForm">
                    <div class="m-portlet__body">
                      <div class="form-group m-form__group row">
                        <label for="example-text-input" class="col-3 col-form-label">
                          Role
                        </label>
                        <div class="col-8">
                          <div class="input-group m-input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text">
                                <i class="flaticon-user"></i>
                              </span>
                            </div>
                            <select class="form-control m-input" formControlName="role">
                              <option value="" selected></option>
                              <option value="Lecturer or Tutor">Lecturer or Tutor</option>
                              <option value="Student">Student</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="form-group m-form__group row">
                        <label for="example-text-input" class="col-3 col-form-label">
                          Title
                        </label>
                        <div class="col-8">
                          <div class="input-group m-input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text">
                                <i class="flaticon-users"></i>
                              </span>
                            </div>
                            <select class="form-control m-input" formControlName="title">
                              <option value="" selected></option>
                              <option value="Dr">Dr</option>
                              <option value="Mr">Mr</option>
                              <option value="Mrs">Mrs</option>
                              <option value="Prof">Prof</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="form-group m-form__group row">
                        <label for="example-text-input" class="col-3 col-form-label">
                          Full Name
                        </label>
                        <div class="col-8">
                          <input class="form-control m-input" type="text" formControlName="fullname">
                        </div>
                      </div>
                      <div class="form-group m-form__group row">
                        <label for="example-text-input" class="col-3 col-form-label">
                          Identity ID
                        </label>
                        <div class="col-8">
                          <input class="form-control m-input" type="text" formControlName="identityid">
                          <span class="m-form__help">
                            This could be your employee id, registration number, school id or something
                            unique that makes it easier to reference you
                          </span>
                        </div>
                      </div>
                      <div class="form-group m-form__group row">
                        <label for="example-text-input" class="col-3 col-form-label">
                          Phone
                        </label>
                        <div class="col-8">
                          <input class="form-control m-input" type="text" formControlName="phone">
                        </div>
                      </div>

                      <div class="m-form__seperator m-form__seperator--dashed m-form__seperator--space-2x"></div>
                      <div class="form-group m-form__group row">
                        <label for="example-text-input" class="col-3 col-form-label">
                          Institution
                        </label>
                        <div class="col-8">
                          <!-- <input class="form-control m-input" type="text"> -->
                          <div class="input-group m-input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text">
                                <i class="flaticon-location"></i>
                              </span>
                            </div>
                            <div class="ng-autocomplete">
                              <ng-autocomplete #inst [data]="institutionContexts" [searchKeyword]="institutionKeyword"
                                placeHolder="Select Institution" (selected)='selectEventInstitution($event)'
                                (inputCleared)="clearedInst($event)" [itemTemplate]="itemTemplateInst" minQueryLength=5
                                (inputChanged)='onChangeSearchInstitution($event)'
                                notFoundText='Institution not found. type it out and press enter to add to list'
                                [notFoundTemplate]="notFoundTemplateInst" #searchinsti
                                (keydown.enter)="addSearchInstitution(searchinsti.query)" formControlName="institution">
                              </ng-autocomplete>
                              <ng-template class="templateitem" #itemTemplateInst let-item>
                                <div class="item">
                                  <!-- <img src="{{item.flag}}" height="25"> -->
                                  <span [innerHTML]="item.institution"></span>
                                </div>
                              </ng-template>
                              <ng-template #notFoundTemplateInst let-notFound>
                                <div [innerHTML]="notFound"></div>
                              </ng-template>
                            </div>
                          </div>

                          <span class="m-form__help">
                            <!-- {{profileForm.get('institution').value}} -->
                          </span>

                        </div>
                      </div>

                      <div class="form-group m-form__group row">
                        <label for="example-text-input" class="col-3 col-form-label">
                          Faculty
                        </label>
                        <div class="col-8">
                          <!-- <input class="form-control m-input" type="text"> -->
                          <div class="input-group m-input-group formAuto">
                            <div class="input-group-prepend">
                              <span class="input-group-text">
                                <i class="flaticon-squares-4"></i>
                              </span>
                            </div>
                            <div class="ng-autocomplete ">
                              <ng-autocomplete #fac [data]="facultyContexts" [searchKeyword]="facultyKeyword"
                                placeHolder="Select Faculty" (selected)='selectEventFaculty($event)' minQueryLength=5
                                [itemTemplate]="itemTemplateFac" (inputChanged)='onChangeSearchFaculty($event)'
                                (inputCleared)="clearedFac($event)"
                                notFoundText='Faculty not found. type it out and press enter to add to list'
                                [notFoundTemplate]="notFoundTemplateFac" #searchfac minQueryLength=4
                                (keydown.enter)="addSearchFaculty(searchfac.query)" formControlName="faculty">
                              </ng-autocomplete>

                              <ng-template #itemTemplateFac let-item>
                                <div class="item">
                                  <!-- <img src="{{item.flag}}" height="25"> -->
                                  <span [innerHTML]="item.faculty"></span>
                                </div>
                              </ng-template>

                              <ng-template #notFoundTemplateFac let-notFound>
                                <div [innerHTML]="notFound"></div>
                              </ng-template>
                            </div>
                          </div>
                          <span class="m-form__help">
                            <!-- {{profileForm.get('faculty').value}} -->
                          </span>

                        </div>
                      </div>

                      <div class="form-group m-form__group row">
                        <label for="example-text-input" class="col-3 col-form-label">
                          Department
                        </label>
                        <div class="col-8">
                          <!-- <input class="form-control m-input" type="text"> -->
                          <div class="input-group m-input-group" style="z-index: 6">
                            <div class="input-group-prepend">
                              <span class="input-group-text">
                                <i class="flaticon-app"></i>
                              </span>
                            </div>
                            <div class="ng-autocomplete">
                              <ng-autocomplete #dept [data]="departmentContexts" [searchKeyword]="departmentKeyword"
                                placeHolder="Select Department" (selected)='selectEventDepartment($event)'
                                minQueryLength=4 [itemTemplate]="itemTemplateDept"
                                (inputChanged)='onChangeSearchDepartment($event)' (inputCleared)="clearedDept($event)"
                                notFoundText='Department not found. type it out and press enter to add to list'
                                [notFoundTemplate]="notFoundTemplateDept" #searchdept
                                (keydown.enter)="addSearchDepartment(searchdept.query)" formControlName="department">
                              </ng-autocomplete>

                              <ng-template #itemTemplateDept let-item>
                                <div class="item">
                                  <!-- <img src="{{item.flag}}" height="25"> -->
                                  <span [innerHTML]="item.department"></span>
                                </div>
                              </ng-template>

                              <ng-template #notFoundTemplateDept let-notFound>
                                <div [innerHTML]="notFound"></div>
                              </ng-template>
                            </div>
                          </div>
                          <span class="m-form__help">
                            <!-- {{profileForm.get('department').value}} -->
                          </span>
                        </div>
                      </div>

                      <div class="form-group m-form__group row" [hidden]="profileForm.get('role').value != 'Student'">
                        <label for="example-text-input" class="col-3 col-form-label">
                          Level
                        </label>
                        <div class="col-8">
                          <!-- <input class="form-control m-input" type="text"> -->
                          <div class="input-group m-input-group" style="z-index: 5">
                            <div class="input-group-prepend">
                              <span class="input-group-text">
                                <i class="flaticon-signs-1"></i>
                              </span>
                            </div>
                            <div class="ng-autocomplete">
                              <ng-autocomplete #lev [data]="levelContexts" [searchKeyword]="levelKeyword"
                                placeHolder="Select Level" (selected)='selectEventLevel($event)' minQueryLength=3
                                [itemTemplate]="itemTemplateLev" (inputChanged)='onChangeSearchLevel($event)'
                                (inputCleared)="clearedLev($event)"
                                notFoundText='Level not found. type it out and press enter to add to list'
                                [notFoundTemplate]="notFoundTemplateLev" #searchlev
                                (keydown.enter)="addSearchLevel(searchlev.query)" formControlName="level">
                              </ng-autocomplete>

                              <ng-template #itemTemplateLev let-item>
                                <div class="item">
                                  <!-- <img src="{{item.flag}}" height="25"> -->
                                  <span [innerHTML]="item.level"></span>
                                </div>
                              </ng-template>

                              <ng-template #notFoundTemplateLev let-notFound>
                                <div [innerHTML]="notFound"></div>
                              </ng-template>
                            </div>
                          </div>

                          <span class="m-form__help">
                            <!-- {{profileForm.get('level').value}} -->
                          </span>
                        </div>
                      </div>

                    </div>
                    <div class="m-portlet__foot m-portlet__foot--fit">
                      <div class="m-form__actions">
                        <div class="row">
                          <div class="col-2"></div>
                          <div class="col-8">
                            <button type="button" (click)="updateProfile(f)"
                              class="btn btn-accent m-btn m-btn--air m-btn--custom">
                              Save changes
                            </button>
                            &nbsp;&nbsp;
                            <button type="reset" class="btn btn-secondary m-btn m-btn--air m-btn--custom">
                              Cancel
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
