  <!-- begin::Header -->

  <!-- end::Header -->

  <div
    class="m-grid__item m-grid__item--fluid  m-grid m-grid--ver-desktop m-grid--desktop 	m-container m-container--responsive m-container--xxl m-page__container m-body">
    <div class="m-grid__item m-grid__item--fluid m-wrapper">
      <!-- BEGIN: Subheader -->
      <div class="m-subheader ">
        <div class="d-flex align-items-center">
          <div class="mr-auto">
            <h3 class="m-subheader__title ">
              Dashboard
            </h3>
          </div>
          <div>
            <span class="m-subheader__daterange" id="m_dashboard_daterangepicker">
              <span class="m-subheader__daterange-label">
                <span class="m-subheader__daterange-title"></span>
                <span class="m-subheader__daterange-date m--font-brand"></span>
              </span>
              <a href="#" class="btn btn-sm btn-brand m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill">
                <i class="la la-angle-down"></i>
              </a>
            </span>
          </div>
        </div>
      </div>
      <!-- END: Subheader -->

      <!-- END: Subheader -->
      <div class="m-content">
        <div class="row">
          <div class="col-lg-4">
            <div class="m-portlet">
              <div class="m-portlet__body">
                <div class="m-card-profile">
                  <div class="m-card-profile__title m--hide">
                    Your Profile
                  </div>
                  <div class="m-card-profile__pic">
                    <div class="m-card-profile__pic-wrapper">
                      <img src="/assets/images/kennys.png" alt="" />
                    </div>
                  </div>
                  <div class="m-card-profile__details">
                    <span class="m-card-profile__name">
                      Mark Andre
                    </span>
                    <a href="" class="m-card-profile__email m-link">
                      mark.andre@gmail.com
                    </a>
                  </div>
                </div>
                <ul class="m-nav m-nav--hover-bg m-portlet-fit--sides">
                  <li class="m-nav__separator m-nav__separator--fit"></li>
                  <li class="m-nav__section m--hide">
                    <span class="m-nav__section-text">
                      Section
                    </span>
                  </li>
                  <li class="m-nav__item">
                    <a href="header/profile&amp;demo=default.html" class="m-nav__link">
                      <i class="m-nav__link-icon flaticon-profile-1"></i>
                      <span class="m-nav__link-title">
                        <span class="m-nav__link-wrap">
                          <span class="m-nav__link-text">
                            My Profile
                          </span>
                          <span class="m-nav__link-badge">
                            <span class="m-badge m-badge--success">
                              2
                            </span>
                          </span>
                        </span>
                      </span>
                    </a>
                  </li>
                  <li class="m-nav__item">
                    <a href="header/profile&amp;demo=default.html" class="m-nav__link">
                      <i class="m-nav__link-icon flaticon-share"></i>
                      <span class="m-nav__link-text">
                        Activity
                      </span>
                    </a>
                  </li>
                  <li class="m-nav__item">
                    <a href="header/profile&amp;demo=default.html" class="m-nav__link">
                      <i class="m-nav__link-icon flaticon-chat-1"></i>
                      <span class="m-nav__link-text">
                        Messages
                      </span>
                    </a>
                  </li>
                  <li class="m-nav__item">
                    <a href="header/profile&amp;demo=default.html" class="m-nav__link">
                      <i class="m-nav__link-icon flaticon-graphic-2"></i>
                      <span class="m-nav__link-text">
                        Sales
                      </span>
                    </a>
                  </li>
                  <li class="m-nav__item">
                    <a href="header/profile&amp;demo=default.html" class="m-nav__link">
                      <i class="m-nav__link-icon flaticon-time-3"></i>
                      <span class="m-nav__link-text">
                        Events
                      </span>
                    </a>
                  </li>
                  <li class="m-nav__item">
                    <a href="header/profile&amp;demo=default.html" class="m-nav__link">
                      <i class="m-nav__link-icon flaticon-lifebuoy"></i>
                      <span class="m-nav__link-text">
                        Support
                      </span>
                    </a>
                  </li>
                </ul>
                <!-- <div class="m-portlet__body-separator"></div> -->
              </div>
            </div>
          </div>
          <div class="col-lg-8">
            <div class="m-portlet m-portlet--full-height m-portlet--tabs  ">
              <div class="m-portlet__head">
                <div class="m-portlet__head-tools">
                  <ul class="nav nav-tabs m-tabs m-tabs-line   m-tabs-line--left m-tabs-line--primary" role="tablist">
                    <li class="nav-item m-tabs__item">
                      <a class="nav-link m-tabs__link active">
                        <i class="flaticon-share m--hide"></i>
                        My Profile
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="tab-content">
                <div class="tab-pane active">
                  <form class="m-form m-form--fit m-form--label-align-right" [formGroup]="profileForm" #f="ngForm">
                    <div class="m-portlet__body">
                      <div class="form-group m-form__group row">
                        <div class="col-9 ml-auto">
                          <h3 class="m-form__section fontForm">
                            Personal Details
                          </h3>
                        </div>
                      </div>
                      <div class="form-group m-form__group row">
                        <label for="example-text-input" class="col-3 col-form-label">
                          Full Name
                        </label>
                        <div class="col-8">
                          <input class="form-control m-input" type="text" formControlName="fullname">
                        </div>
                      </div>
                      <div class="form-group m-form__group row">
                        <label for="example-text-input" class="col-3 col-form-label">
                          Occupation
                        </label>
                        <div class="col-8">
                          <input class="form-control m-input" type="text">
                        </div>
                      </div>
                      <div class="form-group m-form__group row">
                        <label for="example-text-input" class="col-3 col-form-label">
                          Company Name
                        </label>
                        <div class="col-8">
                          <input class="form-control m-input" type="text">
                        </div>
                      </div>
                      <div class="form-group m-form__group row">
                        <label for="example-text-input" class="col-3 col-form-label">
                          Phone No.
                        </label>
                        <div class="col-8">
                          <input class="form-control m-input" type="text">
                        </div>
                      </div>
                      <div class="m-form__seperator m-form__seperator--dashed m-form__seperator--space-2x"></div>
                      <div class="form-group m-form__group row">
                        <div class="col-9 ml-auto">
                          <h3 class="m-form__section fontForm">
                            Address
                          </h3>
                        </div>
                      </div>
                      <div class="form-group m-form__group row">
                        <label for="example-text-input" class="col-3 col-form-label">
                          Address
                        </label>
                        <div class="col-8">
                          <input class="form-control m-input" type="text">
                        </div>
                      </div>
                      <div class="form-group m-form__group row">
                        <label for="example-text-input" class="col-3 col-form-label">
                          City
                        </label>
                        <div class="col-8">
                          <input class="form-control m-input" type="text">
                        </div>
                      </div>
                      <div class="form-group m-form__group row">
                        <label for="example-text-input" class="col-3 col-form-label">
                          State
                        </label>
                        <div class="col-8">
                          <input class="form-control m-input" type="text">
                        </div>
                      </div>
                      <div class="form-group m-form__group row">
                        <label for="example-text-input" class="col-3 col-form-label">
                          Postcode
                        </label>
                        <div class="col-8">
                          <input class="form-control m-input" type="text">
                        </div>
                      </div>
                    </div>
                    <div class="m-portlet__foot m-portlet__foot--fit">
                      <div class="m-form__actions">
                        <div class="row">
                          <div class="col-2"></div>
                          <div class="col-8">
                            <button type="reset" class="btn btn-accent m-btn m-btn--air m-btn--custom">
                              Save changes
                            </button>
                            &nbsp;&nbsp;
                            <button type="reset" class="btn btn-secondary m-btn m-btn--air m-btn--custom">
                              Cancel
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="tab-pane " id="m_user_profile_tab_2"></div>
                <div class="tab-pane " id="m_user_profile_tab_3"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
