  <!-- begin::Header -->
  <app-header></app-header>
  <!-- end::Header -->

  <div
    class="m-grid__item m-grid__item--fluid  m-grid m-grid--ver-desktop m-grid--desktop 	m-container m-container--responsive m-container--xxl m-page__container m-body">
    <div class="m-grid__item m-grid__item--fluid m-wrapper">
      <!-- BEGIN: Subheader -->
      <div class="m-subheader ">
        <div class="d-flex align-items-center">
          <div class="mr-auto">
            <h3 class="m-subheader__title ">
              My Calendar
            </h3>
          </div>
          <div>
            <a #secondbutt data-toggle="modal" data-target="#m_quick_sidebar" style="display: none"
              class="btn btn-secondary m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air">
              <span>
                <i class="la la-plus"></i>
                <span>
                  Modal
                </span>
              </span>
            </a>
          </div>
        </div>
      </div>
      <!-- END: Subheader -->
      <div class="m-content">

        <!--Begin::Section-->
        <div class="row">
          <div class="col-xl-12">
            <!--begin::Portlet-->
            <div [ngClass]="status ? 'm-portlet panel-fullscreen' : 'm-portlet m-portlet--full-height'">

              <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                  <div class="m-portlet__head-title">
                    <span class="m-portlet__head-icon">
                      <i class="flaticon-calendar-3"></i>
                    </span>
                    <h3 class="m-portlet__head-text">
                      <!-- Action Tools -->
                    </h3>
                  </div>
                </div>
                <div class="m-portlet__head-tools">
                  <ul class="m-portlet__nav">

                    <li class="m-portlet__nav-item">
                      <a (click)="status=!status" class="m-portlet__nav-link m-portlet__nav-link--icon">
                        <i [ngClass]="status ? 'la la-compress' : 'la la-expand'"></i>
                      </a>
                    </li>

                  </ul>
                </div>
              </div>

              <div class="m-portlet__body">

                <div id='calendar'></div>
              </div>
            </div>
            <!--end::Portlet-->
          </div>
        </div>
        <!--End::Section-->
      </div>
    </div>
  </div>



  <!-- MODAL STICK UP SMALL ALERT -->
  <div class="modal fade {{slideoption}}" #use id="m_quick_sidebar" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
      <div class="modal-content-wrapper">
        <div class="modal-content">

          <div class="modal-body modalportlet">
            <div class="m-portlet m-portlet--tabs">
              <div class="m-portlet__head">
                <div class="m-portlet__head-tools">
                  <ul class="nav nav-tabs  m-tabs-line m-tabs-line--secondary" role="tablist">
                    <li class="nav-item m-tabs__item">
                      <a class="nav-link m-tabs__link active show" data-toggle="tab" href="#m_tabs_9_1" role="tab"
                        aria-selected="true">
                        <i class="flaticon-time-2"></i>
                        Events
                      </a>
                    </li>
                    <li class="nav-item m-tabs__item">
                      <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_tabs_9_2" role="tab"
                        aria-selected="true">
                        <i class="flaticon-users"></i>
                        Users
                      </a>
                    </li>
                    <li class="nav-item m-tabs__item">
                      <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_tabs_9_3" role="tab">
                        <i class="flaticon-multimedia"></i>
                        Settings
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="m-portlet__head-caption">
                  <div class="m-portlet__head-title">
                    <div class="btn-group">
                      <button type="button" class="btn btn-secondary  m-btn m-btn--icon m-btn--wide m-btn--md">
                        <span>
                          <i class="la la-check"></i>
                          <span>
                            Save
                          </span>
                        </span>
                      </button>
                      <button type="button"
                        class="btn btn-secondary  dropdown-toggle dropdown-toggle-split m-btn m-btn--md"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                      <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#">
                          <i class="la la-plus"></i>
                          Save &amp; New
                        </a>
                        <a class="dropdown-item" href="#">
                          <i class="la la-copy"></i>
                          Save &amp; Duplicate
                        </a>
                        <a class="dropdown-item" href="#">
                          <i class="la la-undo"></i>
                          Save &amp; Close
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">
                          <i class="la la-close"></i>
                          Cancel
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="m-portlet__body">
                <div class="tab-content">
                  <div class="tab-pane active show" id="m_tabs_9_1" role="tabpanel">
                    <form class="m-form m-form--fit" [formGroup]="eventFormGroup" #f="ngForm">
                      <div class="form-group m-form__group calendarWidget">
                        <div class="m-input-icon m-input-icon--left">
                          <input type="text" class="form-control m-input" placeholder="Event, Course or Subject"
                            formControlName="event">
                          <span class="m-input-icon__icon m-input-icon__icon--left">
                            <span>
                              <i class="la la-calendar-plus-o"></i>
                            </span>
                          </span>
                        </div>
                      </div>

                      <div class="form-group m-form__group calendarWidget">
                        <div class="m-input-icon m-input-icon--left">
                          <input type="text" class="form-control m-input" placeholder="Location, Venue, Auditorium"
                            formControlName="location">
                          <span class="m-input-icon__icon m-input-icon__icon--left">
                            <span>
                              <i class="la la-map-marker"></i>
                            </span>
                          </span>
                        </div>
                      </div>

                      <div class="form-group m-form__group row calendarWidget">

                        <div class="col-lg-4">
                          <div class="m-input-icon m-input-icon--left">
                            <input type="text" class="form-control m-input" placeholder="yyyy-mm-dd" name="start"
                              (click)="st.toggle()" [displayMonths]="displayMonths" [navigation]="navigation"
                              [outsideDays]="outsideDays" [showWeekNumbers]="showWeekNumbers" ngbDatepicker
                              #st="ngbDatepicker" formControlName="start">
                            <span class="m-input-icon__icon m-input-icon__icon--left">
                              <span>
                                <i class="la la-calendar"></i>
                              </span>
                            </span>
                          </div>
                        </div>

                        <div class="col-lg-4">
                          <div class="m-input-icon m-input-icon--left">
                            <input type="text" class="form-control m-input" placeholder="yyyy-mm-dd" name="end"
                              (click)="en.toggle()" [displayMonths]="displayMonths" [navigation]="navigation"
                              [outsideDays]="outsideDays" [showWeekNumbers]="showWeekNumbers" ngbDatepicker
                              #en="ngbDatepicker" formControlName="end">
                            <span class="m-input-icon__icon m-input-icon__icon--left">
                              <span>
                                <i class="la la-calendar"></i>
                              </span>
                            </span>
                          </div>
                        </div>

                        <div class="col-lg-4">
                          <button (click)="checkAllDay(f)" [ngClass]="allday ? 'btn-secondary' : 'btn-secondary'"
                            class="btn m-btn m-btn--custom m-btn--icon">
                            <span>
                              <span>
                                ALL DAY
                              </span>
                              <i class="la la-calendar"></i>
                            </span>
                          </button>
                        </div>
                      </div>

                      <div class="form-group m-form__group row calendarWidget" [hidden]="!allday">
                        <div class="col-lg-6">
                          <!-- <input mask="00:00:00"> -->
                          <div class="m-input-icon m-input-icon--left" style="z-index: 6">
                            <div class="ng-autocomplete" style="width: 100% !important">
                              <ng-autocomplete #startdrop [data]="startTimes" [searchKeyword]="startKeyword"
                                placeHolder="Time Starts" (selected)='selectEventStart($event)'
                                (inputCleared)="clearedStart($event)" [itemTemplate]="itemTemplateStart"
                                minQueryLength=1 (inputChanged)='onChangeSearchStart($event)'
                                notFoundText='User not found. type it out and press enter to add to list'
                                [notFoundTemplate]="notFoundTemplateStart" #searchstart
                                (keydown.enter)="addSearchStart(searchstart.query)" formControlName="starttime">
                              </ng-autocomplete>
                              <ng-template class="templateitem" #itemTemplateStart let-item>
                                <div class="item">
                                  <!-- <img src="{{item.flag}}" height="25"> -->
                                  <span [innerHTML]="item"></span>
                                </div>
                              </ng-template>
                              <ng-template #notFoundTemplateStart let-notFound>
                                <div [innerHTML]="notFound"></div>
                              </ng-template>
                            </div>
                            <span class="m-input-icon__icon m-input-icon__icon--left">
                              <span>
                                <i class="la la-clock-o"></i>
                              </span>
                            </span>
                          </div>
                        </div>

                        <div class="col-lg-6">
                          <div class="m-input-icon m-input-icon--left">
                            <div class="ng-autocomplete" style="width: 100% !important">
                              <ng-autocomplete #enddrop [data]="endTime" [searchKeyword]="endKeyword"
                                placeHolder="Time Ends" (selected)='selectEventEnd($event)'
                                (inputCleared)="clearedEnd($event)" [itemTemplate]="itemTemplateEnd" minQueryLength=1
                                (inputChanged)='onChangeSearchEnd($event)'
                                notFoundText='User not found. type it out and press enter to add to list'
                                [notFoundTemplate]="notFoundTemplateEnd" #searchend
                                (keydown.enter)="addSearchEnd(searchuser.query)" formControlName="endtime">
                              </ng-autocomplete>
                              <ng-template class="templateitem" #itemTemplateEnd let-item>
                                <div class="item">
                                  <!-- <img src="{{item.flag}}" height="25"> -->
                                  <span [innerHTML]="item"></span>
                                </div>
                              </ng-template>
                              <ng-template #notFoundTemplateEnd let-notFound>
                                <div [innerHTML]="notFound"></div>
                              </ng-template>
                            </div>
                            <span class="m-input-icon__icon m-input-icon__icon--left">
                              <span>
                                <i class="la la-clock-o"></i>
                              </span>
                            </span>
                          </div>
                        </div>
                      </div>

                      <div class="form-group m-form__group calendarWidget">
                        <div class="m-input-icon m-input-icon--left">
                          <textarea class="form-control m-input" rows="3" type="text" formControlName="note"></textarea>
                          <span class="m-input-icon__icon m-input-icon__icon--left">
                            <span>
                              <i class="la la-sticky-note"></i>
                            </span>
                          </span>
                        </div>
                      </div>

                      <div class="form-group m-form__group row calendarWidget">

                        <div class="col-lg-6">
                          <div class="btn-group">
                            <button style="width: 185px" type="button"
                              class="btn btn-secondary  m-btn m-btn--icon m-btn--wide m-btn--md">
                              <span>
                                <i class="la la-check"></i>
                                <span>
                                  {{ruleText}}
                                </span>
                              </span>
                            </button>
                            <button type="button"
                              class="btn btn-secondary  dropdown-toggle dropdown-toggle-split m-btn m-btn--md"
                              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                            <div class="dropdown-menu dropdown-menu-right">
                              <a class="dropdown-item" (click)="setRule('none', f)">
                                <i class="la la-plus"></i>
                                Does not repeat
                              </a>
                              <a class="dropdown-item" (click)="setRule('daily', f)">
                                <i class="la la-plus"></i>
                                Daily
                              </a>
                              <a class="dropdown-item" (click)="setRule('weekly', f)">
                                <i class="la la-copy"></i>
                                Weekly on Tuesday
                              </a>
                              <a class="dropdown-item" (click)="setRule('monthly', f)">
                                <i class="la la-undo"></i>
                                Monthly on second Tuesday
                              </a>
                              <a class="dropdown-item" (click)="setRule('anually', f)">
                                <i class="la la-undo"></i>
                                Annually on August 13
                              </a>
                              <a class="dropdown-item" (click)="setRule('allweek', f)">
                                <i class="la la-undo"></i>
                                Every Weekday (Monday to Friday)
                              </a>
                              <a class="dropdown-item" (click)="setRule('custom', f)">
                                <i class="la la-undo"></i>
                                Set Custom
                              </a>
                            </div>
                          </div>
                        </div>

                        <div class="col-lg-6">
                          <div class="m-input-icon m-input-icon--left">
                            <input type="text" class="form-control m-input" placeholder="yyyy-mm-dd" name="start"
                              (click)="ruleend.toggle()" [displayMonths]="displayMonths" [navigation]="navigation"
                              [outsideDays]="outsideDays" [showWeekNumbers]="showWeekNumbers" ngbDatepicker
                              #ruleend="ngbDatepicker" formControlName="until">
                            <span class="m-input-icon__icon m-input-icon__icon--left">
                              <span>
                                <i>Ends: &nbsp;</i>
                              </span>
                            </span>
                          </div>
                        </div>
                      </div>


                      <div class="form-group m-form__group row eventoption">

                        <div class="btn-toolbar" role="toolbar" aria-label="...">

                          <div class="btn-group mr-2" role="group" aria-label="...">
                            <button (click)="eventoption=!eventoption" type="button"
                              [ngClass]="eventoption ? 'btn-secondary' : 'btn-secondary'"
                              class="btn m-btn m-btn--custom m-btn--icon">
                              event options <i class="la la-plus"></i>
                            </button>
                          </div>

                        </div>

                      </div>

                      <div>
                        <!--Recurring Events-->
                      </div>

                      <!--Option Controls Starts Here-->
                      <div class="form-group m-form__group row calendarWidget" [hidden]="!eventoption">
                        <div class="col-lg-6">
                          <div class="m-input-icon m-input-icon--left">
                            <input type="text" class="form-control m-input" placeholder="Course Code">
                            <span class="m-input-icon__icon m-input-icon__icon--left">
                              <span>
                                <i class="la la-pause"></i>
                              </span>
                            </span>
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <div class="m-input-icon m-input-icon--left">
                            <input type="text" class="form-control m-input" placeholder="Unit">
                            <span class="m-input-icon__icon m-input-icon__icon--left">
                              <span>
                                <i class="la la-pause"></i>
                              </span>
                            </span>
                          </div>
                        </div>
                      </div>
                      <!--Option Controls Ends Here-->

                      <div class="m-form__seperator m-form__seperator--dashed m-form__seperator--space-2x sectionHalf">
                      </div>

                      <div class="form-group m-form__group calendarWidget">
                        <div class="m-radio-inline">
                          <label class="m-radio lg m-radio--solid {{item.code}}"
                            *ngFor="let item of Colors; let i=index">
                            <input type="radio" [value]="item" formControlName="backgroundcolor">
                            <span></span>
                          </label>
                        </div>
                      </div>

                      <div class="m-form__seperator m-form__seperator--dashed m-form__seperator--space-2x sectionHalf">
                      </div>


                    </form>
                    <!--end::Form-->

                  </div>

                  <div class="tab-pane" id="m_tabs_9_2" role="tabpanel">
                    <div class="m-form__section m-form__section--first">
                      <div class="form-group m-form__group calendarWidget">
                        <div class="m-input-icon m-input-icon--left" style="z-index: 4">
                          <div class="ng-autocomplete" style="width: 100% !important">
                            <ng-autocomplete #user [data]="profile" [searchKeyword]="userKeyword"
                              placeHolder="Add User and Role" (selected)='selectEventUser($event)'
                              (inputCleared)="clearedUser($event)" [itemTemplate]="itemTemplateUser" minQueryLength=2
                              (inputChanged)='onChangeSearchUser($event)'
                              notFoundText='User not found. type it out and press enter to add to list'
                              [notFoundTemplate]="notFoundTemplateUser" #searchuser
                              (keydown.enter)="addSearchUser(searchuser.query)">
                            </ng-autocomplete>

                            <ng-template #itemTemplateUser let-item>
                              <div class="item">
                                <div class="m-widget4">
                                  <div class="m-widget4__item" style="padding-bottom: 0px; padding-top:0px">
                                    <div class="m-widget4__img m-widget4__img--logo">
                                      <img src="{{item.avatar}}" alt="">
                                    </div>
                                    <div class="m-widget4__info">
                                      <span class="m-widget4__title" [innerHTML]="item.fullname">
                                      </span>
                                      <br>
                                      <span class="m-widget4__sub" [innerHTML]="item.email">
                                      </span>
                                    </div>
                                    <span class="m-widget4__ext">
                                    </span>
                                  </div>
                                </div>
                              </div>
                            </ng-template>

                            <ng-template #notFoundTemplateUser let-notFound>
                              <div [innerHTML]="notFound"></div>
                            </ng-template>
                          </div>
                          <span class="m-input-icon__icon m-input-icon__icon--left">
                            <span>
                              <i class="la la-calendar-plus-o"></i>
                            </span>
                          </span>
                        </div>
                      </div>
                      <div class="form-group m-form__group calendarWidget">
                        <div class="m-widget4">
                          <div>
                            <!--begin::Widget 14 Item-->
                            <div class="m-widget4__item">
                              <div class="m-widget4__img m-widget4__img--pic authorpix">
                                <img src="../../assets/app/media/img/users/100_4.jpg" alt="">
                              </div>
                              <div class="m-widget4__info">
                                <span class="m-widget4__title authortitle">
                                  Anna Strong
                                </span>
                                <br>
                                <span class="m-widget4__sub">
                                  kennyadenat09@gmail.com
                                </span>
                                <br>
                                <span class="m-widget4__sub eventrole">

                                </span>
                              </div>
                              <div class="m-widget4__ext">

                                <div class="btn-toolbar" role="toolbar" aria-label="...">
                                  <div class="btn-group mr-2" role="group" aria-label="...">

                                    <button type="button" class="m-btn btn btn-secondary">
                                      <i class="la la-close"></i>
                                    </button>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <!--end::Widget 14 Item-->
                            <div class="m-widget4__item" style="padding-top: 0.1rem">
                              <div class="btn-group btn-group-toggle" data-toggle="buttons"
                                style="display: inherit !important">
                                <label class="btn btn-success active">
                                  <input type="radio" name="options" id="option1" autocomplete="off" checked="">
                                  <i class="flaticon-notes"></i>
                                </label>
                                <label class="btn btn-success">
                                  <input type="radio" name="options" id="option2" autocomplete="off">
                                  <i class="flaticon-avatar"></i>
                                </label>
                                <label class="btn btn-success">
                                  <input type="radio" name="options" id="option3" autocomplete="off">
                                  <i class="flaticon-information"></i>
                                </label>
                                <label class="btn btn-success">
                                  <input type="radio" name="options" id="option3" autocomplete="off">
                                  <i class="flaticon-users"></i>
                                </label>
                                <label class="btn btn-success">
                                  <input type="radio" name="options" id="option3" autocomplete="off">
                                  <i class="flaticon-puzzle"></i>
                                </label>
                                <label class="btn btn-success">
                                  <input type="radio" name="options" id="option3" autocomplete="off">
                                  <i class="flaticon-download"></i>
                                </label>
                                <label class="btn btn-success">
                                  <input type="radio" name="options" id="option3" autocomplete="off">
                                  <i class="flaticon-settings-1"></i>
                                </label>
                                <label class="btn btn-success">
                                  <input type="radio" name="options" id="option3" autocomplete="off">
                                  <i class="flaticon-notes"></i>
                                </label>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="m-widget11__action m--align-left">
                          <div class="dataTables_paginate paging_simple_numbers" id="m_table_1_paginate">
                            <ngb-pagination [collectionSize]="40" [(page)]="page" [boundaryLinks]="true">
                            </ngb-pagination>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>


                  <div class="tab-pane" id="m_tabs_9_3" role="tabpanel">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                    leap into electronic typesetting, remaining essentially unchanged
                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- END MODAL STICK UP SMALL ALERT -->
